@import '../../../../scss/constants';

.btn {
    background-color: $third-color;
    border-radius: 20px;
    color: $white-color;
    font-size: $font-size-medium;
    font-weight: $medium-weight;
    height: 40px;
    margin: 0 auto;
    max-width: 200px;
    width: 100%;
}

.btn:hover {
    scale: 1.1;
    transition: all .3s ease-in-out;
    opacity: 0.8;
}