<div id="page-not-found" class="d-flex flex-column justify-content-center">
    <div class="container d-flex flex-column align-items-center justify-content-center" >
        <img class="img-fluid not-found-img" src="./assets/images/404.png" alt="Pagina no encontrada" />
        <!-- Attribution -->
        <!--<a href="https://www.flaticon.com/free-icons/not-found" title="not found icons">Not found icons created by kerismaker - Flaticon</a> -->
        <p class="h1 title">Ups!</p>
        <p class="h4 subtitle">Lo sentimos pero esta página no está disponible.</p>
        <app-primary-button
            buttonTitle="Volver al inicio"
            (click)="goToHome()"
        ></app-primary-button>
    </div>
</div>
