@import '../../../../../scss/constants';

#register {
    height: 100%;
    .logo {
        background-color: $primary-color;
        &-img {
            max-width: 300px;
        }
        .title {
            font-size: 50px;
            font-weight: $xbold-weight;
            color: $third-color;
        }
    }
    .form {
        width: 100%;
        max-width: 500px;
        p {
            font-size: $font-size-extra-large;
            font-weight: $bold-weight;
            color: $secondary-color;
        }
        .login {
            font-size: $font-size-small;
            font-weight: $light-weight;
            color: $secondary-color;
            a {
                cursor: pointer;
                text-decoration: none;
                color: $secondary-color;
            }
        }
    }
    input[type="date"]::-webkit-calendar-picker-indicator {
        background: transparent;
        bottom: 0;
        color: transparent;
        cursor: pointer;
        height: auto;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
    }
    input[value="0000-00-00"]::-webkit-datetime-edit {
        color: transparent; 
   }
}