// Colors
$primary-color: #eaf5ed;
$secondary-color: #557153;
$third-color: #395B64;
$white-color: #ffffff;

// Fonts
$hairline-weight: 100;
$thin-weight: 200;
$light-weight: 300;
$normal-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$bold-weight: 700;
$xbold-weight: 800;
$black-weight: 900;

$font-size-tiny: 10px;
$font-size-small: 14px;
$font-size-medium: 16px;
$font-size-large: 20px;
$font-size-extra-large: 22px;

$font-family-poppins: 'Poppins';